DATABASE_URL=sqlite+aiosqlite:///./test.db

JWT_SECRET_KEY = <your-secret-key>
JWT_ALGORITHM = HS256
JWT_DEFAULT_EXP_MINUTES = 30

CHECKOUT_SESSION_EXPIRE_MINUTES = 30 
STRIPE_API_KEY = <your-stripe-api-key>
STRIPE_WEBHOOK_SECRET = <your-stripe-webhook-secret>
DOMAIN = <your-frontend-url>
CORS_ORIGINS = "http://localhost:3000,http://localhost:8000"

SUPERUSER_EMAIL=<your-superuser-email>
SUPERUSER_PASSWORD=<your-superuser-password>

ENVIRONMENT=dev # Options: dev, pro