fastapi
uvicorn[standard]
sqlmodel
asyncpg
pydantic-settings
python-dotenv
aiosqlite
ulid-py
python-slugify
pydantic[email]
pyjwt
pwdlib[argon2]
stripe
pycountry
phonenumbers
loguru
redis
fastapi-cache2[redis]
fastapi-limiter
python-multipart  
